<p>Listado de contactos</p>
<div *ngFor="let contacto of listaDeContactos">
    <p class="contacto" (click)="obtenerDatosContacto(contacto.id)">ID:{{contacto.id}}--{{contacto.nombre}}</p>
</div>
<ng-container *ngIf="contactoSeleccionado; else noContactoSeleccionado">
    <div>
        <h3>Datos del contacto:</h3>
        <h3>Nombre:{{contactoSeleccionado.nombre}}</h3>
        <h3>Apellidos:{{contactoSeleccionado.apellidos}}</h3>
        <h3>Email:{{contactoSeleccionado.email}}</h3>
        <h3>Edad:{{contactoSeleccionado.edad}}</h3>

    </div>
</ng-container>

<ng-template #noContactoSeleccionado>
    <div>
        <h4>No has seleccionado ningun contacto</h4>
    </div>
</ng-template>
