<h1>{{title}}</h1>
<form>
  Nombre:
  <input type="text" name="nombre" [(ngModel)]="nombre">
  <br><br>
  Apellido:
  <input type="text" name="apellido" [(ngModel)]="apellido">
  <br><br>
  Cargo:
  <input type="text" name="cargo" [(ngModel)]="cargo">
  <br><br>
  Salario:
  <input type="number" name="salario" [(ngModel)]="salario">
  <br><br>
  <input type="submit" value="Registrar" (click)="registrarUsuario()">
</form>
<br><br>
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}}.
  Cargo: <span [ngStyle]="{color: cargo.toUpperCase()=='DIRECTOR' ?'red':'blue'}">{{cargo}}</span>
  Salario:<span [ngClass]="{salarioEstilo:salario>3000}">{{salario}}</span>
</p> <!--Si registrado==true, me muestras el mensaje, ngIf modifica la estructura del DOM, aparece de la nada un p-->

<ng-template #sinRegistrar>
  <p>No hay usuarios registrados</p>
</ng-template>
<br><br>
<!--Directiva ngFor-->

<ul>
  <li *ngFor="let entrada of entradas; let i=index">{{entrada.titulo}}. {{i}}</li>
</ul>

<p>Componente entrada-blog:</p>
<app-entrada-blog></app-entrada-blog>
<p>Importo lista basica en appcomponent</p>
<app-lista-basica></app-lista-basica>

<p>*********EJEMPLO DE USO DE SERVICIO*********</p>
<app-lista-contacto></app-lista-contacto>